Скачать датасет по транзакциям по следующей ссылке: https://ibm.ent.box.com/v/tabformer-data/folder/130747715605

Скачать датасет, разделенный на train, valid, test: https://drive.google.com/file/d/17LCDtr60TU3E4GnGuQlzDp6CFghL16_M/view?usp=sharing

1. Решаем задачу бинарной классификации: явялется ли транзакция фродовой ('Is Fraud?').
2. Необходимо провести feature engineering
3. Выбрать подходящую архитектуру нейронной сети.
4. Обучить сеть
5. Показать графики обучения и точности модели

In [48]:
import pandas as pd
import numpy as np
import pickle

In [2]:
data = pd.read_csv('/Users/macbook/Desktop/card_transaction.v1.csv')

In [3]:
data.columns.values

array(['User', 'Card', 'Year', 'Month', 'Day', 'Time', 'Amount',
       'Use Chip', 'Merchant Name', 'Merchant City', 'Merchant State',
       'Zip', 'MCC', 'Errors?', 'Is Fraud?'], dtype=object)

In [4]:
data

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2020,2,27,22:23,$-54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386896,1999,1,2020,2,27,22:24,$54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386897,1999,1,2020,2,28,07:43,$59.15,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386898,1999,1,2020,2,28,20:10,$43.12,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386899,1999,1,2020,2,28,23:10,$45.13,Chip Transaction,4751695835751691036,Merrimack,NH,3054.0,5814,NaN,No

In [50]:
with open('/Users/macbook/Desktop/transactions_train_valid_test_splits.pickle', 'rb') as f:
    data = pickle.load(f)
train_data = data['train']
valid_data = data['valid']
test_data = data['test']

In [51]:
len(train_data), len(valid_data), len(test_data)

(17397216, 3412698, 3576986)

In [52]:
len(train_data['User'].unique()), len(valid_data['User'].unique()), len(test_data['User'].unique())

(1400, 300, 300)

In [53]:
np.intersect1d(train_data['User'].unique(), valid_data['User'].unique())

array([], dtype=int64)

In [54]:
np.intersect1d(train_data['User'].unique(), test_data['User'].unique())

array([], dtype=int64)

In [55]:
np.intersect1d(valid_data['User'].unique(), test_data['User'].unique())

array([], dtype=int64)